@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
* {
	font-family: 'Inter', sans-serif;
}
.App {
	max-width: 1000px;
	margin: auto;
}

h1 {
	text-align: center;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.plus {
	position: absolute;
	right: 0;
}
